<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.velickomarija.diploma">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingEnterSoundActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingSoundActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingEnterImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingImageVeriantActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingEnterSoundNWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseOneActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingSoundNWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingNewWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingLastSoundActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestingLastImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseTwoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseThreeActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>