<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.velickomarija.diploma">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_INTERNIAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNIAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.common.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.common.ProfileActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.sound.TestingEnterSoundActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.sound.TestingSoundActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.image.TestingEnterImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.image.TestingImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.common.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.image.TestingImageVariantActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.sound.TestingEnterSoundNWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseOneActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.sound.TestingSoundNWordsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.image.TestingNextImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseTwoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PauseThreeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.questionnaire.QuestionEnterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.questionnaire.QuestionOneActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.questionnaire.QuestionTwoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".views.questionnaire.ResultTwoQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.questionnaire.QuestionEnter2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="landscape"></activity>
    </application>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"
        />
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCxSh6iFcDGoQbPe4gZR8GBRY_EJNmjdUs" />
        />

</manifest>